* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background-color: #222;
  background-image: url(./images/background.png);
  color: white;
  padding: 5px;
}

h2 {
  width: 100%;
}

.solar-system-container,
.missions-container {
  display: flex;
  flex-flow: row wrap;
}
  
.card-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
}